@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.projects {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-title {
    margin: 40px auto 80px auto;
}
.project-section {
    width: 100%;
    border-top: 1px solid rgba(187, 187, 187, 0.421);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}
.project-info-container {
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 20px;
    font-size: 22px;
}
.project-title {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    width: 90%;
}
.project-character {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.project-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.project-container {
    position: relative;
}
.project-img-container {
    width: 80%;
}
.project-house-img-1 {
    max-width: 850px;
}

.slide {
    display: none;
}
.block {
    display: block;
    object-fit: cover;
}
.arrow-container {
    position: absolute;
    bottom: 120px;
    background-color: rgb(239, 235, 222);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.arrow-container:hover {
    background-color: rgba(163, 162, 141, 0.593);
    color: rgb(239, 235, 222);
}
.arrow-project {
    font-size: 26px;
}
.arrow-container-left {
    left: 20px;
}
.arrow-container-right {
    right: 20px;
}
.section-page {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.project-page {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.page {
    font-weight: 400;
    font-size: 22px;
}

.last-project-section {
    border-bottom: 1px solid rgba(187, 187, 187, 0.421);
}


@media (max-width: 1670px) {
    .project-section {
        column-gap: 60px;
    }
    .project-info-container {
        width: 50%;
        padding-left: 80px;
    }
    .project-title {
        font-size: 20px;
        width: 350px;
    }
    .project-character {
        row-gap: 7px;
        font-size: 16px;
    }

    .project-house-img-1 {
        width: 700px;
    }
    .arrow-project {
        font-size: 24px;
    }
    .project-page {
        row-gap: 3px;
    }
    .page-img {
        width: 45px;
    }
    .page {
        font-size: 20px;
    }
}

@media (max-width: 1500px) {
    .project-section {
        column-gap: 40px;
    }
    .project-info-container {
        width: 40%;
        padding-left: 60px;
    }
    .project-house-img-1 {
        width: 580px;
    }
    .page-img {
        width: 35px;
    }
    .page {
        font-size: 16px;
    }
}

@media (max-width: 1330px) {
    .project-section {
        column-gap: 40px;
    }
    .project-info-container {
        width: 40%;
        padding-left: 60px;
    }
    .project-house-img-1 {
        width: 450px;
    }
    .page-img {
        width: 35px;
    }
    .page {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .projects {
        margin: 40px auto;
    }
    .projects-title {
        margin: 40px auto;
    }
    .project-section {
        width: 100%;
        border-top: 1px solid rgba(187, 187, 187, 0.421);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        row-gap: 40px;
    }
    .project-section-1,
    .project-section-3 {
        display: flex;
        flex-direction: column-reverse;
    }
    .project-info-container {
        position: relative;
        width: 100%;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        font-size: 16px;
    }
    .project-title {
        top: 0;
        position: absolute;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        width: 80%;
    }
    .project-character {
        padding: 10px 50px 0 30px;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }
    .project-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        padding: 40px;
    }
    
    .project-container {
        position: relative;
    }
    .project-img-container {
        width: 100%;
    }
    .project-house-img-1 {
        width: 600px;
        align-self: center;
    }
    
    .slide {
        display: none;
    }
    .block {
        display: block;
        object-fit: cover;
    }
    .arrow-container {
        position: absolute;
        bottom: 50px;
        background-color: rgb(239, 235, 222);
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .arrow-container:hover {
        background-color: rgba(163, 162, 141, 0.593);
        color: rgb(239, 235, 222);
    }
    .arrow-project {
        font-size: 26px;
    }
    .arrow-container-left {
        left: 20px;
    }
    .arrow-container-right {
        right: 20px;
    }
    .section-page {
        position: absolute;
        bottom: -20px;
        right: -70px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .project-page {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
    .page {
        font-weight: 400;
        font-size: 18px;
    }
    
    .last-project-section {
        border-bottom: 1px solid rgba(187, 187, 187, 0.421);
    }
}

@media (max-width: 950px) {
    .projects-title {
        margin: 20px auto;
        font-size: 28px;
    }
    .project-info-container {
        position: relative;
        width: 100%;
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        font-size: 14px;
    }
    .project-title {
        top: 0;
        position: absolute;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        width: 80%;
    }
    .project-character {
        padding: 10px 50px 0 30px;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }
    .project-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        padding: 40px;
        font-size: 14px;
    }
    .project-house-img-1 {
        width: 500px;
        align-self: center;
    }
    .arrow-container {
        position: absolute;
        bottom: 30px;
        background-color: rgb(239, 235, 222);
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .arrow-container:hover {
        background-color: rgba(163, 162, 141, 0.593);
        color: rgb(239, 235, 222);
    }
    .arrow-project {
        font-size: 22px;
    }
    .arrow-container-left {
        left: 20px;
    }
    .arrow-container-right {
        right: 20px;
    }
    .section-page {
        position: absolute;
        bottom: -20px;
        right: -70px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .project-page {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
    .page-img {
        width: 30px;
    }
    .page {
        font-weight: 400;
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .project-house-img-1 {
        width: 420px;
        align-self: center;
    }
    .project-info-container {
        position: relative;
        width: 100%;
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        font-size: 14px;
    }
    .project-title {
        top: 0;
        position: absolute;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        width: 50%;
        padding: 0 auto 20px auto;
    }
    .project-character {
        padding: 40px 100px 10px 0;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }
    .project-foot {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        padding: 0;
        font-size: 14px;
    }
    .arrow-container {
        position: absolute;
        bottom: 20px;
        background-color: rgb(239, 235, 222);
        padding: 7px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .arrow-container:hover {
        background-color: rgba(163, 162, 141, 0.593);
        color: rgb(239, 235, 222);
    }
    .arrow-project {
        font-size: 14px;
    }
    .arrow-container-left {
        left: 20px;
    }
    .arrow-container-right {
        right: 20px;
    }
    .section-page {
        position: absolute;
        bottom: -30px;
        right: -50px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .project-page {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }
    .page-img {
        width: 20px;
    }
    .page {
        font-weight: 400;
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .project-house-img-1 {
        width: 420px;
        align-self: center;
    }
    .project-info-container {
        position: relative;
        width: 100%;
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        font-size: 14px;
    }
    .project-title {
        top: 0;
        position: absolute;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        width: 60%;
        padding: 0 0 50px 0;
    }
    .project-character {
        padding: 40px 100px 10px 0;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        font-size: 13px;
    }
    .project-foot {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        padding: 0;
    }

    .project-house-img-1 {
        width: 320px;
        align-self: center;
    }
}