@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.garants {
    padding: 40px 80px 150px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.garant-title-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: start;
}
.garant-title {
    font-size: 44px;
}
.garant-grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 320px);
    gap: 70px;
    font-size: 18px;
    align-items: start;
}
.garant-section-grid {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 15px;
}
.garant-grid-title {
    font-weight: 500;
    font-size: 24px;
}

.garant-right-section {
    position: relative;
}
.garant-img-container {
    position: absolute;
    top: 70px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    width: 85%;
}
.garant-img-title {
    font-size: 28px;
}
.garant-img-sm-device {
    display: none;
}


@media (max-width: 1650px) {
    .garants {
        padding: 40px 70px 100px 100px;
    }
    .garant-title-container {
        column-gap: 15px;
    }
    .garant-title {
        font-size: 32px;
    }
    .garant-grid-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 320px);
        gap: 50px;
        font-size: 16px;
        align-items: start;
    }
    .garant-section-grid {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 15px;
    }
    .garant-grid-title {
        font-weight: 500;
        font-size: 20px;
    }
    
    .garant-right-section {
        position: relative;
    }
    .garant-right {
        width: 400px;
    }
    .garant-img-container {
        position: absolute;
        top: 70px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
        width: 85%;
    }
    .garant-img-title {
        font-size: 22px;
    }
    .garant-img-subtitle {
        font-size: 15px;
    }
}
@media (max-width: 1500px) {
    .garants {
        padding: 40px 50px 100px 80px;
    }
    .garant-grid-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 50px;
        font-size: 15px;
        align-items: start;
    }
    .garant-section-grid {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 15px;
    }
    .garant-grid-title {
        font-weight: 500;
        font-size: 18px;
    }
    
    
    .garant-right {
        width: 380px;
    }
    .garant-img-container {
        position: absolute;
        top: 70px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
        width: 85%;
    }
    .garant-img-title {
        font-size: 20px;
    }
    .garant-img-subtitle {
        font-size: 14px;
    }
}

@media (max-width: 1400px) {
    .garants {
        padding: 40px 40px 100px 70px;
    }
    .garant-grid-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 40px;
        font-size: 14px;
        align-items: start;
    }
    .garant-section-grid {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 15px;
    }
    .garant-grid-title {
        font-weight: 500;
        font-size: 16px;
    }
    
    
    .garant-right {
        width: 350px;
    }
    .garant-img-container {
        position: absolute;
        top: 70px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
        width: 85%;
    }
    .garant-img-title {
        font-size: 18px;
    }
    .garant-img-subtitle {
        font-size: 14px;
    }
}

@media (max-width: 1300px) {
    .garants {
        padding: 40px;
        margin-bottom: 100px;
    }
    .garant-title {
        font-size: 30px;
    }
    .garant-title-img {
        width: 30px;
    }
    .garant-grid-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 14px;
        align-items: start;
    }
    .garant-section-grid {
        margin-left: 30px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 10px;
        font-size: 16px;
    }
    .garant-grid-title {
        font-weight: 600;
        font-size: 18px;
    }
    
    
    .garant-right {
        width: 350px;
    }
    .garant-img-container {
        position: absolute;
        top: 70px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
        width: 85%;
    }
    .garant-img-title {
        font-size: 19px;
    }
    .garant-img-subtitle {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .garants {
        padding: 40px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .garant-title-container {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: start;
        margin-left: 30px;
    }
    .garant-title {
        font-size: 32px;
    }
    .garant-title-img {
        width: 30px;
    }
    .garant-grid-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 30px;
        font-size: 15px;
        align-items: start;
    }
    .garant-section-grid {
        margin-left: 30px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 15px;
        font-size: 17px;
    }
    .garant-grid-title {
        font-weight: 600;
        font-size: 18px;
    }
    
    .garant-right-section {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    .garant-right {
        display: none;
    }
    .garant-img-container {
        position: static;
        top: 0;
        left: 0;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        width: 45%;
    }
    .garant-img-title {
        font-size: 19px;
    }
    .garant-img-subtitle {
        font-size: 15px;
    }
    .garant-img-sm-device {
        display: inline-block;
        width: 280px;
        margin: 20px auto;
    }
}

@media (max-width: 1020px) {
    .garants {
        padding: 40px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .garant-title-container {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: start;
        margin-left: 60px;
    }
    .garant-title {
        font-size: 28px;
    }
    .garant-title-img {
        width: 26px;
    }
    .garant-grid-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 20px;
        font-size: 14px;
        align-items: start;
    }
    .garant-section-grid {
        margin-left: 30px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 12px;
        font-size: 15px;
    }
    .garant-grid-title {
        font-weight: 600;
        font-size: 18px;
    }
    
    .garant-right-section {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    .garant-right {
        display: none;
    }
    .garant-img-container {
        position: static;
        top: 0;
        left: 0;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        width: 45%;
    }
    .garant-img-title {
        font-size: 18px;
    }
    .garant-img-subtitle {
        font-size: 15px;
    }
    .garant-img-sm-device {
        display: inline-block;
        width: 250px;
        margin: 20px auto;
    }
}

@media (max-width: 700px) {
    .garants {
        padding: 40px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .garant-title-container {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: start;
        margin: 0 0 40px 20px;
    }
    .garant-title {
        font-size: 20px;
    }
    .garant-title-img {
        width: 22px;
    }
    .garant-grid-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 240px);
        gap: 20px;
        font-size: 12px;
        align-items: start;
    }
    .garant-section-grid {
        margin-left: 10%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 10px;
        font-size: 12px;
    }
    .garant-grid-title {
        font-weight: 600;
        font-size: 14px;
    }
    
    .garant-right-section {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    .garant-right {
        display: none;
    }
    .garant-img-container {
        position: static;
        top: 0;
        left: 0;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        width: 80%;
    }
    .garant-img-title {
        font-size: 15px;
        text-align: center;
    }
    .garant-img-subtitle {
        font-size: 12px;
    }
    .garant-img-sm-device {
        display: none;
        width: 170px;
        margin: 10px auto;
    }
}

@media (max-width: 500px) {
    .garants {
        padding: 40px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .garant-title-container {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: start;
        margin: 0 0 30px 60px;
    }
    .garant-title {
        font-size: 18px;
    }
    .garant-title-img {
        width: 20px;
    }
    .garant-grid-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        font-size: 12px;
        align-items: start;
    }
    .garant-section-grid {
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 5px;
        font-size: 12px;
    }
    .garant-grid-title {
        font-weight: 600;
        font-size: 14px;
    }
    
    .garant-right-section {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .garant-right {
        display: none;
    }
    .garant-img-container {
        position: static;
        top: 0;
        left: 0;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        width: 90%;
    }
    .garant-img-title {
        font-size: 15px;
        text-align: center;
    }
    .garant-img-subtitle {
        font-size: 12px;
    }
    .garant-img-sm-device {
        display: none;
        width: 170px;
        margin: 10px auto;
    }
}