@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*COLOR*/
    --dark: rgb(8, 42, 26);
    --beige: rgb(169, 133, 103);
    --light-beige: rgb(243, 227, 201);
    --white: rgb(255, 254, 245);
    --light-green: rgb(21, 116, 53);
    --green: rgb(17, 94, 43);
    --border-light-grey: rgba(128, 128, 128, 0.3);
    --border-grey: rgba(211, 211, 211, 0.697);
    --border-dark: rgba(8, 42, 26, 0.732);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: var(--white);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--beige);
}